<div class="container">
  <div class="row">
   <div class="col-12">
   <mat-card class="mt-4 mat-elevation-z5">
    <h2 class="text-center text-white alert bg-success ">App Component</h2>
    <div class="row">
     <div class="col-md-4">
       <app-previous [count]="pageNum-1"></app-previous>
     </div>
     <div class="col-md-4">
       <app-current [count]="pageNum-1"></app-current>
     </div>
     <div class="col-md-4">
       <app-next [count]="pageNum-1"></app-next>
     </div>
    </div>
    <div class="text-center my-4">
      <button mat-raised-button color="primary" class="mr-3 text-white"
   (click)="pageNum > 1 ? pageNum= pageNum-1 : pageNum ">
    Previous
  </button>
  <button mat-raised-button color="accent" class="text-white"
   (click)="pageNum = pageNum+1">
   Next
  </button>
    </div>
  </mat-card>
  </div>
  </div>
</div>